<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="user-info">
                <p>Username</p>
                <img src="../static/user-icon.png" width="70px">
            </div>
            <div class="logo">
                <img src="../static/icon.png" width="70px">
            </div>
        </div>
        <nav>
            <a href="/logout">Logout</a>
            <a href="/?id=1">Temperatura</a>
            <a href="/?id=2">Vlaga</a>
        </nav>
        <table>
            <tr>
                <th>Vrijeme</th>
                <th>Temperatura</th>
                <th>Brisanje</th>
            </tr>
            <tr>
                <td>Datum 1 </td>
                <td>23</td>
                <td><input type="submit" value="Obriši"></td>
            </tr>
            <tr>
                <td>Datum 2 </td>
                <td>23</td>
                <td><input type="submit" value="Obriši"></td>
            </tr>
            <tr>
                <td>Datum 3 </td>
                <td>23</td>
                <td><input type="submit" value="Obriši"></td>
            </tr>
        </table>
    </div>
</body>
</html>
