<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stranica za prijavu</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <form action="/login" method="post">
        <p>Prijava</p>
        <label for="Username">Username</label>
        <input type="text" name="Username" id="Username">
        <br>
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password">
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
